.call-title{
    background-color: rgb(255, 124, 124);
}

.call-title-text{
    font-size: 1.75rem;
    margin-bottom: .2rem;
}

@media screen and (min-width: 461px) {
    .call-title-text{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 460px) {
    .call-title-text{
        font-size: 1.2rem;
    }
}


.active{
    background-color: red;
    color: white;
}

.answered{
    background-color: rgb(163, 162, 162);
    color: rgb(122, 255, 122);
}


.calls-col{
    overflow: auto; 
    height: 200vh;
}

.answer-call{
    color: black;
}

.answer-call:hover{
    cursor: pointer;
    color: white;
}

.shdw {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.shdw:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}